@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-roboto: var(--font-roboto-slab);
  --font-domaine: var(--font-domaine-display);
  --font-drama: var(--font-drama-display);
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: var(--font-roboto);
}
